<h1><%= @user.name%>'s Dashboard</h1>
<br>
<br>
<%= link_to "Discover Movies", "/users/#{@user.id}/discover" %>
<% @viewing_parties.each do |party| %> 
  <div id="party<%= party.id%>">
  <%= party.movie_id %><br>
  <%= party.party_date %><br>
  <%= party.party_time.strftime("%I:%M:%S") %><br>
  <% end %><br><br>
  </div>

<% @viewing_party_host.each do |party| %>
 <img src=party.movie_info.image_url.jpg alt="Fight Club" width="300" height="250">
 <%= party.movie_info.title %>
 <%= party.party_date%>
 <%= party.party_time.strftime("%I:%M:%S") %>
<%end%>
